body {
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(143, 238, 238);
}

h1 {
    text-decoration: underline;
    margin: 50px;
}

h3 {
    margin-top: 25px;
}

img {
    width: 200px;
}

input {
    text-align: center;
    width: 60px;
}

.hidden {
    display: none;
    visibility: hidden;
}


#questions {
    border-style: solid;
    border-radius: 5px;
    padding: 25px;
    background-color: moccasin;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 800px;
}

button {
    margin: 10px;
}