body {
    text-align: center;
    font-size: large;
    background-color: rgb(158, 252, 255);
}

img {
    width: 200px;
}



/* .hidden {
    display: none;
    visibility: hidden;
} */

.result {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
    margin: 10px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: -25%, -50%
}


#questions {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}