body {
    text-align: center;
    font-size: large;
    background-color: rgb(158, 252, 255);
}

h1 {
    text-decoration: underline;
    color: rgb(145, 53, 199);
    margin: 50px;
}

h3 {
    margin-top: 25px;
}

img {
    width: 200px;
}

.hidden {
    display: none;
    visibility: hidden;
}


#questions {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}